body{
    background-color: #DCDDDF;
    margin:0;
    font-family: sans-serif;
}
header{
  width: 90em;
  background: #404143;
  height: 15em;
}
#btn-menu{
  display: none;

}
header label{
  display: block;
  width:150px;
  height: 170px;
  padding: 39px;
  border-right: 1px solid white;

}
header label:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.menu {
  list-style: none;
  display: flex;
  position: absolute;
  background-color: white;
  flex-direction: column;
  height: 150em;
  width: 70em;
  margin-left: -120%

}
.menu li a{
  padding:30px 30px;
  display: block;
  color:grey;
  text-decoration: none;
  font-size: 90px;
  margin: 10px;
  text-align: justify;
  transform: translate(2em,2.2em);

}
.menu li:hover{
  background: rgb(0, 0, 0,0.3);
  border: solid 1px orange;
}

#btn-menu:checked ~ .menu{
  margin:0;
  z-index: 10000
}

.fas {
  font-size: 140px;
  color: #f3ab04;
  margin: 0.2em;

}

h1{
  color: white;
  font-size: 80px;
  transform: translate(6.8em,-2.8em);
  font-weight: lighter;
  }

  .opciones li a{
    text-align: center;
    width: 12.5em;
    display: block;
    padding: 30px 30px;
    background-color: orange;
    color: white;
    font-size: 6em;
    text-decoration: none;
    transform: translate(1em,5em);
    margin-bottom:1em;

  }
.opciones{
  list-style: none;
}
.far{
  font-size: 140px;
  color: #f3ab04;
  margin: 0.2em;

}

.cuadrado1{
  background-color: #f3ab04;
  height: 50em;
  width: 90em;
}

#imagen{
  width: 700px;
  height: 700px;
  transform: translate(25em,3em);
}

#cuadradoEmail{

  width: 15em;
  height:2em;
  font-size: 80px;
  transform: translate(1.5em,2em);
  border-radius: 30px;
  text-align: center;
}

h5{
  font-size: 40px;
  color:grey;
  transform: translate(3.5em,5em);
}
hr{
border: solid grey 2px;
  color: black;
  width: 75em;
  transform: translate(6.5em,9em);
}
.cuadrado2{
    background-color: #f3ab04;
    height: 50em;
    width: 90em;

}
h2{
  color: white;
  font-size: 80px;
  text-align: center;
transform: translate(0,5em);
}

.list-group{
  font-size: 70px;
  width:18em;
  margin: 1em;


}
.d-flex {
  height: 55px;
}
.mb-1{
  transform:translate(1em,1em);
}
.list-group-item.active{
  background-color: white;
  color:grey;
}

#numeroTarjeta {
  width: 15em;
  height: 1em;
  font-size: 80px;
  transform: translate(1.5em,3em);
  border-radius: 30px;
  text-align: center;
}

#btnAgregarTarjeta{
  background-color: #f3ab04;
  width: 15em;
  height: 1em;
  font-size: 80px;
  transform: translate(1.5em,4em);
  border-radius: 30px;
  text-align: center;
}

#tarjetasGuardadas{
  width: 15em;
  height: 1em;
  font-size: 80px;
  transform: translate(1.5em,4em);
  border-radius: 30px;
  text-align: center;
}

#tarjetas{
  width: 15em;
  height: 1em;
  font-size: 80px;
  transform: translate(1.5em,4em);
  border-radius: 30px;
  text-align: center;
  background-color: white
}

.caja{
  width: 15em;
    height: 1em;
    font-size: 80px;
    transform: translate(1.5em,4em);
    border-radius: 30px;
    text-align: center;
    background-color: white;
}